

/* button */
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* popup background */
#popupContainer{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);

    display:flex;
    justify-content:center;
    align-items:center;

    visibility:hidden;
    opacity:0;
    transition:0.3s;
}

/* active popup */
#popupContainer.active{
    visibility:visible;
    opacity:1;
}

/* popup box */
.popup{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    position:relative;

    transform: scale(0.7);
    transition:0.3s;
}

/* animation when open */
#popupContainer.active .popup{
    transform: scale(1);
}

/* close icon */
#closePopup{
    position:absolute;
    right:15px;
    top:10px;
    font-size:25px;
    cursor:pointer;
}
#popupContainer { z-index: 9999; }
#popupContainer .popup { z-index: 10000; }